In [1]:
import pandas as pd
from yahooquery import Ticker
import re

Matplotlib is building the font cache; this may take a moment.

In [2]:
with open('data/tickers.txt', 'r') as f:
    tickers = [l.replace('\n', '') for l in f.readlines()]

In [3]:
pattern = re.compile('[A-Z]{4}[3|4]$')

In [4]:
symbols = list(filter(pattern.match, tickers))
len(symbols)

331

In [12]:
df = pd.DataFrame()
for symbol in symbols:
    s = symbol + '.SA'
    t = Ticker(s)
    temp = t.history(start="2019-01-02", end="2019-12-31")
    
    if isinstance(temp, pd.DataFrame):
        df = pd.concat([df, temp])

AALR3.SA
ABCB4.SA
ABEV3.SA
ADHM3.SA
AFLT3.SA
AGRO3.SA
AHEB3.SA
ALPA3.SA
ALPA4.SA
ALSO3.SA
ALUP3.SA
ALUP4.SA
AMAR3.SA
ANIM3.SA
APER3.SA
ARZZ3.SA
ATMP3.SA
ATOM3.SA
AZEV3.SA
AZEV4.SA
AZUL4.SA
BALM3.SA
BALM4.SA
BAUH4.SA
BAZA3.SA
BBAS3.SA
BBDC3.SA
BBDC4.SA
BBRK3.SA
BBSE3.SA
BDLL4.SA
BEEF3.SA
BEES3.SA
BEES4.SA
BGIP3.SA
BGIP4.SA
BIDI3.SA
BIDI4.SA
BIOM3.SA
BKBR3.SA
BMEB4.SA
BMGB4.SA
BMKS3.SA
BOBR4.SA
BPAC3.SA
BPAN4.SA
BRAP3.SA
BRAP4.SA
BRDT3.SA
BRFS3.SA
BRGE3.SA
BRIV3.SA
BRIV4.SA
BRKM3.SA
BRML3.SA
BRPR3.SA
BRSR3.SA
BSEV3.SA
BTOW3.SA
BTTL3.SA
CAMB3.SA
CAML3.SA
CARD3.SA
CCPR3.SA
CCRO3.SA
CEAB3.SA
CEBR3.SA
CEDO3.SA
CEEB3.SA
CESP3.SA
CGRA3.SA
CGRA4.SA
CIEL3.SA
CLSC4.SA
CMIG3.SA
CMIG4.SA
CNTO3.SA
COCE3.SA
COGN3.SA
CPFE3.SA
CPLE3.SA
CRFB3.SA
CRIV3.SA
CRIV4.SA
CSAB3.SA
CSAN3.SA
CSMG3.SA
CSNA3.SA
CTKA4.SA
CTNM3.SA
CTNM4.SA
CTSA3.SA
CTSA4.SA
CVCB3.SA
CYRE3.SA
DASA3.SA
DIRR3.SA
DMMO3.SA
DOHL3.SA
DOHL4.SA
DTCY3.SA
DTEX3.SA
EALT3.SA
EALT4.SA
ECOR3.SA
EGIE3.SA
EKTR3.SA
EKTR4.SA
ELET3.SA
EMAE4.SA
EMBR3.SA
ENAT3.SA
ENBR3.SA
ENEV3.SA
ENGI3.SA
ENGI4.SA
ENMT3.SA
ENMT4.SA
EQPA3.SA
EQTL3.SA
ESTR4.SA
ETER3.SA
EUCA3.SA
EUCA4.SA
EVEN3.SA
EZTC3.SA
FESA3.SA
FESA4.SA
FHER3.SA
FLRY3.SA
FRAS3.SA
FRTA3.SA
GEPA3.SA
GEPA4.SA
GFSA3.SA
GGBR3.SA
GGBR4.SA
GNDI3.SA
GOAU3.SA
GOAU4.SA
GOLL4.SA
GPAR3.SA
GPCP3.SA
GRND3.SA
GSHP3.SA
GUAR3.SA
HAGA3.SA
HAGA4.SA
HAPV3.SA
HBOR3.SA
HETA4.SA
HGTX3.SA
HOOT4.SA
HYPE3.SA
IDVL3.SA
IDVL4.SA
IGBR3.SA
IGTA3.SA
INEP3.SA
INEP4.SA
IRBR3.SA
ITSA3.SA
ITSA4.SA
ITUB3.SA
ITUB4.SA
JBDU3.SA
JBDU4.SA
JBSS3.SA
JHSF3.SA
JOPA3.SA
JPSA3.SA
JSLG3.SA
KEPL3.SA
KLBN3.SA
KLBN4.SA
LAME3.SA
LAME4.SA
LCAM3.SA
LEVE3.SA
LIGT3.SA
LINX3.SA
LLIS3.SA
LOGG3.SA
LOGN3.SA
LPSB3.SA
LREN3.SA
LUPA3.SA
LUXM4.SA
MDIA3.SA
MEAL3.SA
MERC4.SA
MGEL4.SA
MGLU3.SA
MILS3.SA
MMXM3.SA
MNDL3.SA
MNPR3.SA
MOAR3.SA
MOVI3.SA
MRFG3.SA
MRVE3.SA
MTSA4.SA
MULT3.SA
MWET4.SA
MYPK3.SA
NEOE3.SA
NORD3.SA
NTCO3.SA
ODPV3.SA
OFSA3.SA
OIBR3.SA
OIBR4.SA
OMGE3.SA
OSXB3.SA
PARD3.SA
PATI4.SA
PCAR3.SA
PDGR3.SA
PETR3.SA
PETR4.SA
PFRM3.SA
PINE4.SA
PLAS3.SA
PMAM3.SA
PNVL3.SA
PNVL4.SA
POMO3.SA
POMO4.SA
POSI3.SA
PRIO3.SA
PSSA3.SA
PTBL3.SA
PTNT3.SA
PTNT4.SA
QUAL3.SA
RADL3.SA
RAIL3.SA
RANI3.SA
RANI4.SA
RAPT3.SA
RAPT4.SA
RCSL3.SA
RCSL4.SA
RDNI3.SA
REDE3.SA
RENT3.SA
RLOG3.SA
RNEW3.SA
RNEW4.SA
ROMI3.SA
RPAD3.SA
RPMG3.SA
RSID3.SA
SANB3.SA
SANB4.SA
SAPR3.SA
SAPR4.SA
SBSP3.SA
SCAR3.SA
SEER3.SA
SGPS3.SA
SHOW3.SA
SHUL4.SA
SLCE3.SA
SLED3.SA
SLED4.SA
SMLS3.SA
SMTO3.SA
SQIA3.SA
STBP3.SA
SULA3.SA
SULA4.SA
SUZB3.SA
TAEE3.SA
TAEE4.SA
TASA3.SA
TASA4.SA
TCNO3.SA
TCNO4.SA
TCSA3.SA
TECN3.SA
TEKA4.SA
TELB3.SA
TELB4.SA
TEND3.SA
TESA3.SA
TGMA3.SA
TIET3.SA
TIET4.SA
TIMP3.SA
TKNO4.SA
TOTS3.SA
TPIS3.SA
TRIS3.SA
TRPL3.SA
TRPL4.SA
TUPY3.SA
TXRX3.SA
TXRX4.SA
UCAS3.SA
UGPA3.SA
UNIP3.SA
USIM3.SA
VALE3.SA
VIVA3.SA
VIVR3.SA
VIVT3.SA
VIVT4.SA
VLID3.SA
VULC3.SA
VVAR3.SA
WEGE3.SA
WHRL3.SA
WHRL4.SA
WIZS3.SA
WLMM3.SA
WLMM4.SA
YDUQ3.SA

In [14]:
df.head()

                     close   open    volume   high    low   adjclose  \
symbol   date
AALR3.SA 2019-01-02  13.25  13.31  264200.0  13.50  13.25  13.116952
         2019-01-03  13.30  13.21  125700.0  13.65  13.21  13.166451
         2019-01-04  13.44  13.49  144700.0  13.59  13.33  13.305044
         2019-01-07  13.34  13.43  117000.0  13.58  13.32  13.206048
         2019-01-08  13.19  13.30  123300.0  13.30  13.06  13.057554

                     dividends  splits
symbol   date
AALR3.SA 2019-01-02        0.0     NaN
         2019-01-03        0.0     NaN
         2019-01-04        0.0     NaN
         2019-01-07        0.0     NaN
         2019-01-08        0.0     NaN

In [18]:
ts = df.reset_index()[['date', 'symbol', 'close']].pivot_table(values='close', columns='symbol', index='date')
ts.head()

symbol,AALR3.SA,ABCB4.SA,ABEV3.SA,ADHM3.SA,AFLT3.SA,AGRO3.SA,AHEB3.SA,ALPA3.SA,ALPA4.SA,ALSO3.SA,...,VLID3.SA,VULC3.SA,VVAR3.SA,WEGE3.SA,WHRL3.SA,WHRL4.SA,WIZS3.SA,WLMM3.SA,WLMM4.SA,YDUQ3.SA
date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,13.25,17.120001,16.150000,1.24398,5.40,15.950000,74.629501,13.440,14.000,26.200001,...,18.510000,7.32,4.38,17.980000,4.21,5.10,7.20,5.0,5.08,24.850000
2019-01-03,13.30,17.100000,16.330000,1.17763,4.96,16.250000,39.802399,13.592,14.024,26.719999,...,17.740000,7.40,4.31,18.389999,4.21,4.97,7.25,5.0,5.07,24.830000
2019-01-04,13.44,16.950001,16.549999,1.17763,4.95,16.299999,39.802399,13.840,13.920,26.150000,...,17.360001,7.27,4.27,18.600000,4.34,4.89,7.15,5.0,5.35,25.209999
2019-01-07,13.34,17.000000,16.480000,1.16105,4.95,16.299999,39.802399,12.824,13.888,26.629999,...,17.170000,7.26,4.24,18.309999,4.49,4.83,7.09,5.0,5.03,24.709999
2019-01-08,13.19,17.320000,16.150000,1.15276,5.00,16.260000,39.802399,12.904,14.160,26.450001,...,18.020000,7.37,4.04,18.160000,4.50,4.80,7.15,5.0,5.35,24.940001

In [ ]:
ts.to_pickle('data/history.pkl')